@use '../../../utils/base';

.game-table {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    margin-left: auto;
    margin-right: auto;

    .title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            padding: 1rem;
            border: none;
            cursor: pointer;
        }
    }

    table {
        width: 70rem;
        margin-top: 3rem;
        border-collapse: collapse;
        border: 0.1rem solid #ffffffb6;
        font-size: 1.3rem;

        thead {
            padding: 1rem;

            tr {
                border-bottom: 0.1rem solid rgba(255, 255, 255, 0.713);
                background-color: base.$primary-two;
                td {
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                }
            }
        }

        tbody {
            tr {
                font-size: 1rem;
                text-align: center;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.624);
                    color: base.$primary-one;
                }

                td {
                    padding: 0.1em;
                }
            }
        }
    }

    .margin-top {
        margin-top: 5rem;
    }
}

.title {
    text-align: center;
    font-size: 2rem;
}

.chart {
    width: 100%;
    height: 30rem;
}
