@use "../../utils/base";

nav {
    .logo {
        a {
            color: black;
            font-size: 1.5rem;
        }
    }

    .nav-links {
        .nav-item {
            padding-top: 1rem;

            a {
                color: black;

                &:hover {
                    color: base.$accent-one;
                }
            }


        }
    }
}
