@use '../../../utils/base';

.rules {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 50rem;

    margin-top: 6rem;

    h3 {
        font-size: 3.5rem;
    }

    .subtitle {
        margin-bottom: 2rem;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            input {
                margin: 0.5rem;
            }
        }
    }

    div {
        font-size: 2rem;
    }

    button {
        justify-content: center;
    }

    @media screen and (max-width: 1380px) {
        margin-top: -4rem;
        flex-direction: column;
        margin-left: 10rem;
        width: 60%;

        div {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 870px) {
        flex-direction: column;
        margin-left: 10rem;
        width: 50%;
        margin-top: 2rem;

        h3 {
            font-size: 1.5rem;
        }

        div {
            font-size: 1rem;
        }
    }
}
