@use '../../../utils/base';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 4rem;

  h2 {
    text-align: center;
  }
  // padding: 5rem;
  .user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .user-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background-color: base.$accent-one;
      border-radius: 0.5rem;

      margin: 1rem;
      width: 20rem;
      height: 10rem;

      .header {
        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 0.2rem solid base.$primary-one;
        min-height: 2.5rem;
        font-size: large;
      }

      .detail {
        display: flex;
        flex-direction: row;
        justify-content: center;

      }

      .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

.btn-tiny {
  @extend .btn;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  padding: 0.5rem;
  font-size: 1rem;
  background: base.$accent-two;
  line-height: 1;
}

.draw-border-dark {
    @include base.btn-border-drawing(base.$primary-two, base.$primary-one, 4px, bottom, right);
}
