@use '../../../utils/base';

.error {
  /* Positioning */
  position: absolute;
  max-width: 40%;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;

  background-color: rgb(255, 0, 0);
  color: white;
        font-size: 1.5rem;

  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  cursor: pointer;

  abbr {
    text-decoration: none;
  }


}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 4rem;

  h2 {
    text-align: center;
  }
  // padding: 5rem;
  .user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .user-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background-color: base.$accent-one;
      border-radius: 0.3rem;

      margin: 1rem;
      width: 20rem;
      height: 10rem;

      .header {
        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 0.2rem solid base.$primary-one;
        min-height: 2.5rem;
        font-size: large;
      }

      .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .user-card-editing {
      @extend .user-card;
      background-color: rgb(80, 0, 76);

    }
  }
}

.btn-tiny {
  @extend .btn;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  padding: 0.5rem;
  font-size: 1rem;
  background: base.$accent-two;
  line-height: 1;
}

.draw-border-dark {
    @include base.btn-border-drawing(base.$primary-two, base.$primary-one, 4px, bottom, right);
}
