@use "../../utils/base";


footer {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: base.$primary-two;
    .icon {
        position: absolute;
        margin-left: -3rem;
        margin-top: -0.5rem;
        font-size: 2rem;
    }

    a {
        margin-right: 5rem;
    }
}
