@use '../../../utils/base';

.game-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    h1 {
        text-align: center;
    }

    .canvas-and-options {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        canvas {
            border: 0.2rem solid base.$accent-one;
        }
    }

    .sidebar-options {
        padding: 1rem;
        background-color: #484848;
        border-right: 0.2rem solid base.$accent-one;
        border-top: 0.2rem solid base.$accent-one;
        border-bottom: 0.2rem solid base.$accent-one;

        .options {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .variable {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h4{
                padding: 1rem;
            }
        }
    }

    h3 {
        text-align: center;
        font-size: 2rem;
    }
}
