@use '../../../utils/base';

.game-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    h1 {
        text-align: center;
    }

    .canvas-and-options {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media screen and (min-width: 768px) and (max-width: 1280px) {
            flex-direction: column;
        }

        @media screen and (min-width: 320px) and (max-width: 768px) {
            display: none;
        }


        canvas {
            border: 0.2rem solid base.$accent-one;
        }

        .error-message {
            display: none;

            @media screen and (min-width: 320px) and (max-width: 1024px) {
                display: block;
            }
        }
    }

    .sidebar-options {
        padding: 1rem;
        background-color: #484848;
        border-right: 0.2rem solid base.$accent-one;
        border-top: 0.2rem solid base.$accent-one;
        border-bottom: 0.2rem solid base.$accent-one;

        .options {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .variable {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h4 {
                padding: 1rem;
            }
        }
    }

    h3 {
        text-align: center;
        font-size: 2rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        padding: 0rem 5rem 5rem 5rem;

        section {
            display: flex;
            flex-direction: column;

            h1 {
                padding: 2rem;
                text-align: center;
                font-size: 3rem;
            }

            h2 {
                padding: 2rem;
                text-align: center;
                font-size: 2rem;
            }

            div {
                padding: 0rem;
            }
        }
    }
}
