/* Global positional adjustments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Global site wide styling */


body {
    background-color: rgb(0, 0, 0);
    color: white;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}


/* This is to keep the footer down */
html,
body {
    width: 100%;
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header,
main,
footer {
    flex-shrink: 0;
}
/* COLORS */

$primary-one: black;
$primary-two: #21083062;
$accent-one: #9672A2;
$accent-two: #FFFFFF;

/* Buttons and inputs */
//=== Drawing effect
// Code from: https://codepen.io/giana/pen/xdXpJB
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.15s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;

    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;

        #{$vertical}: 0;
        #{$horizontal}: 0;
    }

    &::before {
        $h-side: if($horizontal=='left', 'right', 'left');

        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }

    &::after {
        $v-side: if($vertical=='top', 'bottom', 'top');

        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }

    &:hover {
        color: $hover;

        &::before,
        &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
        }

        &::before {
            transition-delay: 0s, 0s, $duration;
        }

        &::after {
            transition-delay: 0s, $duration, 0s;
        }
    }
}

.draw-border {
    @include btn-border-drawing($primary-two, $accent-two, 4px, bottom, right);
}

.btn {
    background: grey;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 1em 2em;

    @media screen and (max-width: 1380px) {
        padding: 0.5em 1em;
        font-size: 1rem;
    }
}

.input {
    @extend .btn;
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    -moz-appearance: textfield;
    text-align: center;
}

